<header id="header" class="row" data-hook>
  <h1 id="logo" class="columns six" data-hook>Hair Obsessionz</h1>
  <%= render partial: 'spree/shared/nav_bar' %>
  <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</header>
